.font {
    font-family: 'Montserrat', sans-serif;
}
main {
    padding: 0.83vw 4.16vw 0 4.16vw;
}
//navigation bar css
#navigation_index {
    min-height: 90px;


    #logo {
        margin-top: auto;

        h3 {
            font-size: 1.5vw;
        }
    }
    #nav_icons {
        min-height: 90px;
        * {
            margin: auto;
            font-size: 1.30vw;
            list-style-type: none;
        }
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      #profile_picture{
        height: 50px;
        width: 50px;
        cursor: hand;
        
    }
}

//regipe generator section css

#recipe_generator {
    min-height: 6.25vw;
    #title {
        margin: 0;
        padding: 0;
        max-height: 40px;

        p {
            margin-top: -10px;
            font-size: 1.14vw;
        }
    }
    #form {
        select {
            width: 20%;
            padding:  0.83vw;
            font-size: 0.78vw;
        }

    }
}

#sort {
    min-height: 6.25vw;
    #title {
        p {
            font-size: 1.14vw;
        }
    }
    #profile_picture{
        height: 7.81vw;
        width: 7.81vw;
        cursor: hand;
        margin-bottom: 0.83vw;
    }
}

#ingredients_list {
    min-height: 100px;
    overflow: auto;
    padding: 0;
    background-color: #f3b363;
    border-radius: 1rem;
    

    #title {
        max-height: 2.94vw;
        p {
            font-size: 1.5vw;
        }
    }

    #list {
        #form_container {
            min-width: 98%;
            margin: 0;
            
            #field_container {
                width: 17%;
                min-height: 40px;
                margin-right: 16px;

                i {
                   margin-left: -7px;
                   z-index: 5;
                   margin-top: 10px;
                   cursor: pointer;
                   color: rgb(199, 5, 5);
                }

                input {
                    height: 40px;
                    font-size: 16px;
                    font-weight: bold;
                    background-color: white;
                    border: 0;
                    padding-left: 1rem;
                    color: #f3b363;
                    border-radius: .5rem;
                    border-top-right-radius: 45px;
                }
            }

            input {
                box-sizing: content-box;
                min-width: 80%;
            }
            #add_ingredients {
                height: 45px;
                min-width: 12%;
                input {
                    font-size: 14px;
                    box-sizing: content-box;
                    min-width: 50%;
                }
            }
        } 
    }

}
#recipe {
    min-height: 1413.5px;
    background-color: #f3b363;
    border-radius: 1rem;
    
    #recipe_title{
        font-size: 1.5vw;
        
    }
    #recipe_list {
        padding-left: 4rem;

        #recipe_item {
            height: 40vh;
            width: 22%;
            
        }
    }
}